* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e3e3e3;
}

#cards {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.card-title-with-icon {
    margin-left: 16px;
}

.eg-icon {
    color: rgb(33,150,243);
}

.header {
    background-color: #efeeef;
}

.mdc-card {
    align-self: flex-start;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    flex-grow: 0;
    margin: 16px;
    max-width: 30%;
    min-height: 275px;
    padding: 16px;
    width: 500px;
}

.card-header {
    align-items: center;
    display: flex;
}

.card-header .name {
    color: #000000;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 0 0 8px;
}

.card-content {
    color: #000000;
    flex-grow: 1;
    min-height: 90px;
    overflow-wrap: break-word;
    padding: 16px 0;
    word-break: break-word;
    word-wrap: break-word;
}

.card-content a,
.card-content div {
    overflow-wrap: break-word;
    padding: 16px 8px;
    word-break: break-word;
    word-wrap: break-word;
}

.mdc-card__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: auto;
    padding: 8px;
}

.mdc-card__action-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.mdc-card__action--button {
    color: rgb(255,152,0) !important;
}

.mdc-card__action--button:visited {
    color: rgb(255,152,0) !important;
}

.mdc-divider {
    background-color: rgba(0, 0, 0, 0.12);
    border: none;
    flex-shrink: 0;
    height: 1px;
    margin: 0 16px;
    padding: 0;
}

.title {
    color: rgb(33,150,243);
    font-weight: 500;
    margin: 0;
    padding: 24px;
    text-align: center;
}

.vanity {
    color: rgb(33,150,243) !important;
    font-size: 22px;
    font-weight: 700;
}

.vanity:visited {
    color: rgb(33,150,243) !important;
}

.visits {
    display: none;
}

.qr-code {
    display: none;
    height: 250px;
    margin-top: 10px;
    padding: 0 16px;
    width: 250px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #292929;
    }

    .header {
        background-color: #171717;
    }

    .mdc-card {
        background-color: #171717;
        border-color: rgba(255, 255, 255, 0.12);
    }

    .mdc-card__actions {
        border-top: 1px solid rgba(255, 255, 255, 0.12);
    }

    .card-content {
        color: #ffffff;
    }

    .card-header .name {
        color: #ffffff;
    }

    .mdc-divider {
        background-color: rgba(255, 255, 255, 0.12);
    }
}
