body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: rgb(33,150,243);
    text-align: center;
    margin-bottom: 30px;
}

.setup-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.mdc-text-field {
    width: 100%;
    margin-bottom: 20px;
}

.mdc-button {
    display: block;
    margin: 0 auto;
}

#setup-message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #292929;
        color: #ffffff;
    }

    .setup-form {
        background-color: #171717;
        box-shadow: 0 2px 4px rgba(255,255,255,0.1);
    }

    h1 {
        color: rgb(33,150,243);
    }

    .mdc-text-field {
        --mdc-theme-primary: rgb(33,150,243);
        --mdc-text-field-ink-color: #ffffff;
        --mdc-text-field-label-ink-color: rgba(255,255,255,0.7);
        --mdc-text-field-fill-color: rgba(255, 255, 255, 0.05);
    }

    .mdc-button {
        --mdc-theme-primary: rgb(33,150,243);
        color: #ffffff;
    }
}
